html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
}

#container {
    aspect-ratio: 1;
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid black;
}

div.pixel {
    aspect-ratio: 1;
    border: 1px solid lightgrey;
}