:root {
    --bg-color-primary: #333;
    --color-primary: #eee;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--bg-color-primary);
    color: var(--color-primary);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
}

div {
    margin: 0;
    padding: 0;
}

#container {
    aspect-ratio: 1;
    height: 64rem;
    max-height: 80dvw;
    max-width: 80dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    outline: var(--color-primary) solid 0.2rem;
}