html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
}

main {
    flex: 1;
}